<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Million</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="20">
  </head>
  <body>
    <h1>Bem vindo a API inicial do Projeto Million</h1>
    <p>Informacoes sobre a API:</p>
    <a href="/adm.json" target="_blank">Clique aqui para chamar a primeira API...</a>
  </body>
</html>
